
main {

background-color: rgb(212, 183, 240);
}


body {

    background-color: rgb(212, 183, 240);
    }

    h1 {

        background-color: rgb(212, 183, 240);
        }   
        a {

            background-color: rgb(212, 183, 240);
            }   
            img {

                background-color: rgb(212, 183, 240);
                }   
                h3 {

                    background-color: rgb(212, 183, 240);
                    }   
                    h2 {

                        background-color: rgb(212, 183, 240);
                        } 
                        div {

                            background-color: rgb(212, 183, 240);
                            } 